<?php if(!empty($errormsg)) :?>
	<?php foreach ($errormsg as $key => $value) {
		echo $value.'<br>';
	}?>
<?php endif ;?>

<form action='<?php echo URL?>belajar/test' method="POST" name="Simpan">
  <input type="text" name="nama" placeholder='Nama' value="<?php if(!empty($nama)) echo $nama?>" >
  <input type="text" name="alamat" placeholder='Alamat' value="<?php if(!empty($nama)) echo $alamat?>" >
  <input type="text" name="telpon" placeholder='Telpon' value="<?php if(!empty($nama)) echo $telpon?>" >
  <input type="submit">
</form>